body.login-bg {
  background-color: navy;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
}
.login-container {
  width: 300px;
  margin: 100px auto;
}
input {
  display: block;
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border-radius: 4px;
}
button {
  background-color: blue;
  color: white;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.links a {
  display: block;
  color: white;
  font-size: 8pt;
  margin-top: 5px;
  text-decoration: none;
}
