body.signup-bg {
  background-color: lightblue;
  font-family: Arial, sans-serif;
  color: white;
}
.signup-container {
  width: 400px;
  margin: 50px auto;
}
input {
  display: block;
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border-radius: 4px;
}
button {
  background-color: green;
  color: white;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
h2 {
  margin-top: 15px;
}
small {
  color: white;
  font-size: 8pt;
}
.back {
  color: white;
  text-decoration: none;
  font-size: 16pt;
}
